body{
    background: url("../images/bananas.png")
}

.howTo{
    background: palegoldenrod;
    width: 450px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 25px;
}

.winner{
    background: palegoldenrod;
    width: 450px;
    height: 100px;
    padding-left: 25px;
}

.score{
    background: palegoldenrod;
    width: 450px;
    height: 100px;
    padding-left: 25px;
    padding-top: 1px;
    margin-top: 25px;
}

.guessing{
    background: palegoldenrod;
    width: 450px;
    height: 100px;
    padding-left: 25px;
}

#red{
    height: 100px;
    width: 100px;
    display: inline-block;
}

img{
    height: 100px;
    width: 100px;
}

#blue{
    height: 100px;
    width: 100px;
    display: inline-block;
}

#green{
    
    height: 100px;
    width: 100px;
    display: inline-block;
}

#yellow{
    height: 100px;
    width: 100px;
    display: inline-block;
}

#wrapper{
    margin-top: 50px;
}